@font-face {
  font-family: 'Tahoma';
  src: url('Tahoma.eot');
  src: url('Tahoma.woff2') format('woff2'),
       url('Tahoma.woff') format('woff'),
       url('Tahoma.ttf') format('truetype'),
       url('Tahoma.svg#Tahoma') format('svg'),
       url('Tahoma.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

